<template>
  <div class="panel panel-default">
    <div class="panel-heading">Add URL</div>
    <div class="panel-body">
      <form v-on:submit.prevent>
        <div class="form-group">
          <label for="url" class="col-md-4 control-label">URL:</label>
          <div class="col-md-6">
            <input v-model="url" type="text" class="form-control" id="url">
            <span v-if="error" class="help-block">
              <strong>{{ error }}</strong>
            </span>
          </div>
        </div>
        <div class="form-group">
          <button id="fetchArticle" type="submit" class="btn btn-primary" v-on:click="download">
            Fetch Article
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import validUrl from 'valid-url'

export default {
  data: function () {
    return {
      error: '',
      url: ''
    }
  },
  methods: {
    download () {
      if (this.validate()) {
        this.$emit('download', this.url)
      }
    },
    validate () {
      if (!this.url) {
        this.error = 'The URL cannot be blank.'
      } else if (!validUrl.isUri(this.url)) {
        this.error = 'Please provide a properly formatted URL.'
      } else {
        this.error = ''
        return true
      }
      return false
    }
  }
}
</script>
