<template>
  <div>
    <navbar />
    <div class="container">
      <add v-if="!ready && !pull" v-on:download="download" />
      <editform v-if="!done && ready" v-model="article" v-on:success="finish" />
      <success v-if="done" />
    </div>
  </div>
</template>

<script>
import { remote } from 'electron'
import moment from 'moment-timezone'

const Handler = remote.getGlobal('handler')

export default {
  beforeRouteUpdate (to, from, next) {
    this.reset()
    this.download(to.query.link.url)
    next()
  },
  data: function () {
    return {
      article: {
        title: '',
        authors: [],
        tags: [],
        content: '',
        published: '',
        modified: '',
        source: '',
        url: ''
      },
      done: false,
      notification: null,
      pull: false,
      ready: false
    }
  },
  methods: {
    download (link) {
      console.log('Fetching article from ' + link)
      let reader = Handler.download(link)
      this.parse(reader)
    },
    finish () {
      this.done = true
    },
    parse (reader) {
      this.notification = $.notify({
        type: 'info',
        message: 'Fetching article.',
        progress: 0
      }, {
        allow_dismiss: false
      })
      reader.on('progress', progress => {
        this.notification.update({
          type: 'info',
          message: 'Fetching article.',
          progress: progress.loaded / progress.total
        }, {
          allow_dismiss: false
        })
      })
      reader.parse().then(this.prompt).catch(function (e) {
        console.log(e)
      })
    },
    prompt (article) {
      this.notification.update({
        type: 'success',
        message: 'Article loaded.',
        progress: 100
      }, {
        allow_dismiss: true
      })
      let newArticle = Object.assign({}, article)
      newArticle.published = moment(article.published).format('YYYY-MM-DDTHH:mm:ss')
      this.ready = true
      /**
       * Nice. So apparently unless the component is actually active, the watchers
       * don't work. We need to wait for the nextTick until we can assign our article.
       */
      this.$nextTick(() => {
        this.article = newArticle
      })
    },
    reset () {
      this.article = {
        title: '',
        authors: [],
        tags: [],
        content: '',
        published: '',
        modified: '',
        source: '',
        url: ''
      }
      this.done = false
      this.ready = false
    }
  },
  mounted () {
    if (this.$route.query.link) {
      this.pull = true
      this.download(this.$route.query.link.url)
    }
  }
}
</script>
