<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>
  window.$ = window.jQuery = require('jquery')

  // Oh everloving bloody hell, unit testing should not be this difficult.
  // I can't believe I have to rewrite tens of imports and dependencies just to
  // get bloody Karma working.
  // https://github.com/DataTables/DataTables/issues/434#issuecomment-218863925
  // eslint-disable-next-line
  require('imports-loader?define=>false!datatables.net')(window, $)
  // eslint-disable-next-line
  require('imports-loader?define=>false!datatables.net-bs')(window, $)
  require('jquery-ui/ui/widgets/autocomplete')
  require('bootstrap-notify')
  require('bootstrap-tokenfield')

  // /animate.css. For when Webpack sucks at proper loading of files.
  require('animate.css/animate.css')
  require('jquery-ui/themes/base/all.css')
  require('jquery-ui/themes/base/autocomplete.css')

  export default {
    name: 'debatejs',
    mounted () {
      require('bootstrap/dist/js/bootstrap.min.js')
    }
  }
</script>

<style>
  /* CSS */
  [data-notify="progressbar"] {
  	margin-bottom: 0px;
  	position: absolute;
  	bottom: 0px;
  	left: 0px;
  	width: 100%;
  	height: 5px;
  }

  /* https://stackoverflow.com/a/10336221 */
  body {
    padding-top: 65px;
  }
</style>
